body {
    background-color: rgba(216, 205, 241, 255);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: normal;

}

img {
    height: 230px;
    width: 250px;
}

.toevoegen {
    display: flex;
}

.labels {
    display: block;
    padding-left: 45px;
}

.naambieder {
    align-items: center;
    display: flex;
}

.prijsbod {
    align-items: center;
    display: flex;
}

input {
    height: 15px;
    margin: 15px;
}
#txtBod {
    margin-left: 77px;
}

button {
    padding: 7px;
}
